@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    transition: all;
    transition-duration: 400ms;
}

.glow{
    transition: all 0.3s ease-in-out;
}

.img_glow{
    box-shadow: 0 0 55px rgb(103, 232, 249);
}
